.productDetails {
	overflow: scroll;
	position: fixed;
	top:0;
	right:0;
	width: 100vw;
	height: 100vh;
	transform: translateX(600%);
	z-index: 0;
}
.productDetails.open {
	transform: translateX(0);
	z-index: 1;
}