.produsDisplay {
	display: inline-block;
	width : 320px;
}
/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  	.produsDisplay {
	display: inline-block;
	width : 144px;
}
}
