.logo {
	height: 5vh;
}
.login {
	height: 2.5vh;
}
.nav {
	height: 2.5vh;
}

.submenu {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}

.magnifier {
	height: 1.3em;
}

.showme {
	display: none;
}

.showhim:hover .showme {
	height: 14em;
	position: absolute;
	top: 7.5em;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	border-bottom: 1px solid black;
	z-index: 1;
}
ul {
	list-style-type: none;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
	.logo {
		height: 10vh;
	}
	.nav {
		visibility: hidden;
	}
	.curr {
		display: none;
	}
}
