.searchDrawer {
	position: relative;
	top: 0;
	left:0;
	width: 102vw;
	height: 3em;
	transform: translateX(600%);
	z-index: 3;
}
input{
 background-image: url(whiteMagnifier.png);
 background-repeat: no-repeat;
 background-position: right; 
}
.searchDrawer.open {
	transform: translateX(0);
	z-index: 0;
}

.search-box {
	border: 1px solid black;
	outline: none;
}

.sbct {
	height: 3em;
	border-bottom: 1px solid black;
	z-index: 0;
}
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
.searchDrawer{
	top:-2.5em;
	width: 100vw;
}
}