.App {
  text-align: center;font-family:Consolas, Courier, sans-serif;
}
.navbar {
  width: 100%;
  padding: 0px;
  position: fixed;
  transition: top 1s;
  top: -1em;
  z-index: 1;
}

.navmask {
  height: 5em;
}


.navbar--hidden {
  top: -25em;
}
